# Node.js
node_modules/

# Logs
logs/
*.log

# Environment variables
.env

# Build output
dist/

# Dependency directories
bower_components/
jspm_packages/

# Testing
coverage/

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
.DS_Store
Thumbs.db
